In [6]:
x = input("Que es x:")
print("x es :",x)
input("hola, como te llamas? ")

Que es x:1
x es : 1
hola, como te llamas? a

'a'

In [7]:
edad = int(input("Cual es tu edad?"))

Cual es tu edad?24

In [8]:
edad * 5

120

In [10]:
paises = input(r"Cuales son tus paises favoritos? (Separados por una coma)")

Cuales son tus paises favoritos? (Separados por una coma)Costa Rica, Peru, Noruega

In [11]:
paises.split(",")

['Costa Rica', ' Peru', ' Noruega']

In [13]:
paises = input(r"Cuales son tus paises favoritos? (Separados por una coma)")

Cuales son tus paises favoritos? (Separados por una coma)["COSTA RICA","PERU","NORUEGA"]

In [14]:
eval(paises)

['COSTA RICA', 'PERU', 'NORUEGA']

In [18]:
nombres = []
num_invitados = int(input(r"Deme un numero del 1 al 10"))
print(r"Excelente! Vas a poder escoger {} invitados para agregar a tu lista".format(num_invitados))
for i in range(num_invitados):
    nombre = input(r"Cual seria el invitado #{}".format(i+1))
    nombres.append(nombre)
print(r"Esta es tu lista de invitados %s"%(nombres))

Deme un numero del 1 al 1010
Excelente! Vas a poder escoger 10 invitados para agregar a tu lista
Cual seria el invitado #1a
Cual seria el invitado #2b
Cual seria el invitado #3c
Cual seria el invitado #4d
Cual seria el invitado #5e
Cual seria el invitado #6f
Cual seria el invitado #7g
Cual seria el invitado #8h
Cual seria el invitado #9i
Cual seria el invitado #10j
Esta es tu lista de invitados ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# Enumerate

In [20]:
nombres = ["Andres","Camila","Alfredo","Silvia"]
for n in nombres:
    print(n)

Andres
Camila
Alfredo
Silvia

In [21]:
n = 1
for nombre in nombres:
    print("{n}. {nombre}".format(n = n, nombre = nombre))
    n+=1

1. Andres
2. Camila
3. Alfredo
4. Silvia

In [22]:
for i in (range(len(nombres))):
    print("{n}. {nombre}".format(n = i+1, nombre = nombres[i]))

1. Andres
2. Camila
3. Alfredo
4. Silvia

In [25]:
list(enumerate(nombres))

[(0, 'Andres'), (1, 'Camila'), (2, 'Alfredo'), (3, 'Silvia')]

In [26]:
t = ["alfredo","rojas",1993,10]
nombre,apellido,fecha_nac,emocion = t

In [27]:
emocion

10

In [28]:
for index,value in enumerate(nombres):
    print("{n}. {nombre}".format(n = index+1, nombre = value))

1. Andres
2. Camila
3. Alfredo
4. Silvia

# Items

In [29]:
data = {
    "nombre":"alfredo",
    "apellido":"rojas",
    "edad":25
}

In [31]:
for item in data:
    print(item)

nombre
apellido
edad

In [33]:
for index,value in enumerate(data):
    print(index,value)

0 nombre
1 apellido
2 edad

In [36]:
for key,val in data.items():
    print("{} | {}".format(key,val))

nombre | alfredo
apellido | rojas
edad | 25

In [39]:
items = data.items()

In [40]:
list(items)

[('nombre', 'alfredo'), ('apellido', 'rojas'), ('edad', 25)]

In [41]:
data.keys()

dict_keys(['nombre', 'apellido', 'edad'])

In [42]:
data.values()

dict_values(['alfredo', 'rojas', 25])

# Zip

In [43]:
nombres = ["Felipe","Juan","Pablo","Jonathan","Alfredo"]
apellidos = ["Perez","Arias","Tejeda","Amon","Rojas"]

In [44]:
zip(nombres,apellidos)

In [45]:
list(zip(nombres,apellidos))

[('Felipe', 'Perez'),
 ('Juan', 'Arias'),
 ('Pablo', 'Tejeda'),
 ('Jonathan', 'Amon'),
 ('Alfredo', 'Rojas')]

In [46]:
for nombre,apellido in zip(nombres,apellidos):
    print("El nombre es {} y el apellido {}".format(nombre,apellido))

El nombre es Felipe y el apellido Perez
El nombre es Juan y el apellido Arias
El nombre es Pablo y el apellido Tejeda
El nombre es Jonathan y el apellido Amon
El nombre es Alfredo y el apellido Rojas

# IN

In [47]:
"Alfredo" in nombres

True

# Random

In [48]:
import math
math.pi

3.141592653589793

In [49]:
import random
random.shuffle(nombres)

In [50]:
nombres

['Felipe', 'Alfredo', 'Jonathan', 'Pablo', 'Juan']

In [53]:
random.randint(1,100)

43

In [54]:
def cuadrado(x):
    return x**2

cuadrado(3)

9

In [58]:
def decir_nombre(nombre):
    return("Hola, me llamo {}".format(nombre))
    
decir_nombre("Alfredo")

'Hola, me llamo Alfredo'

In [60]:
def sumar_numeros(x,y):
    return x+y

resultado = sumar_numeros(1,2)
resultado

3

In [62]:
def es_par(num):
    return num % 2 == 0

es_par(4)

True

In [63]:
def es_primo(num):
    for n in range(2,num):
        if num%n == 0:
            print(num,"no es primo")
            return False
            break
        else:
            print(num,"es primo")
            return True

In [64]:
var = es_primo(5)

5  es primo

In [65]:
var

True

In [66]:
if es_primo(5):
    print("Si, es primo")

5  es primo
Si, es primo

In [69]:
x = 50
def f(x):
    print("x =",x)
    x = 2
    print("x =",x)

f(x)
print("x global es:",x)

x = 50
x = 2
x global es: 50

In [70]:
def print_nombres(nombre,apellido,inverso = False):
    '''
    input:
        nombre: str
        apellido: str
        inverso: bool (optional)
    output:
        devuelve los nombres
    '''

In [71]:
def mi_func(*args):
    print(args)
    return sum(args)

mi_func(2,3,4,5,6,7)

(2, 3, 4, 5, 6, 7)

27